{{#partial "content"}}
    {{#with hero}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{name}}, {{age}}</h5>
                <br/> Abilities: {{specialPower}}
                <br/> Weaknesses: {{weakness}}
                <br/>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#newHeroModal">
                        Update Hero
                    </button>

                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#deleteHeroModal">
                        Remove Hero
                    </button>
                </div>
                {{> update_hero.hbs}}
                {{> delete_hero.hbs}}
            </div>
        </div>
    {{/with}}
{{/partial}}
{{> layout.hbs}}