{{#partial "content"}}
    {{#with hero}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{name}}, {{age}}</h5>
                <br/> Abilities: {{specialPower}}
                <br/> Weaknesses: {{weakness}}
                <br/>
                <div class="col fw-bold">
                    <div class="d-grid gap-2 d-md-flex m-2 justify-content-md-end">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#newHeroModal">
                            Update Hero
                        </button>
                    </div>
                    {{> update_hero.hbs}}
                </div>
            </div>
        </div>
    {{/with}}
{{/partial}}
{{> layout.hbs}}