<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Heroes{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
    {{#block "main"}}
    {{/block}}
    {{#block "heroes"}}
    {{/block}}
</body>
</html>