{{#partial "formContent"}}
    <label for="name" class="form-label">Name</label>
    <input type="text" id="name" name="name" class="form-control" required>
    <label for="role" class="form-label">Role</label>
    <textarea class="form-control" id="role" name="role" rows="3" required></textarea>
{{/partial}}
{{> squad_modal.hbs}}