{{#partial "content"}}
    {{#with squad}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <div class="card-text">
                    {{role}}
                </div>
            </div>
        </div>
    {{/with}}
{{/partial}}
{{> layout.hbs}}